* {
    font-family: Dosis, sans-serif;
}

.header {
    min-height: 55px; 
    max-height: 65px;
    background-color: #6b705c;
    font-size: 1.3em;
    font-weight: 800;
    color: #326e6e;
}



.menu p {
    width: 100px;
  height: 55px;
    color: black;
    padding: 14px 0px 16px 0px;
    margin: 0px;
}



.active {
    background-color: #326e6e;
}










/* Home Section */
.home {
    height: 700px;
    background-image: url("https://wallpaperaccess.com/full/746130.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.name {
    position: absolute;
    top: 25%;
    left: 20%;
    max-width: 400px;
}

#name {
    font-size: 1.9em;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
    text-shadow: 0 0 2px grey, 2px 2px grey;
}

#subtitle {
    font-size: 1.3em;
    color: black;
    font-weight: 800;
    text-shadow: 0 0 2px grey, 2px 2px grey;
}

.social-media {
    position: absolute;
    top: 35%;
    left: 60%;
}

.sm-find-me {
    font-size: 1.7em;
    font-weight: 800;
    color: black;
    position: relative;
    left: 5%;
}

.social-media ul {
    list-style-type: none;
}

.btn {
    width: 150px;
    font-size: 1.2em;
    background-color: black;
    margin-top: 6px;
}








/* Descrition Section */
h3 {
    padding-top: 40px;
    color: #504A4B;
}

.description {
    height: 500px;
    background-color: #C0C0C0;
}

.photo {
    height: 100%;
    position: relative;
}

.description img {
    position: absolute;
    max-height: 100px;
    max-width: 100px;
    top: 25%;
    left: 30%;
    border-radius: 30%;
    border: 3px solid #ffffff;
}

.text {
    position: relative;
    height: 100%;
    overflow: auto;
}

    .text p {
        position: absolute;
        top: 23%;
        font-size: 1.7em;
        color: #504A4B;
        padding-right: 20%;
    }












/* Portfolio Section */

.portfolio {
    height: 800px;
}

.project {
    position: relative;
    top: 20%;
    height: auto;
}

.notebook {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 250px;
}

.project img {
    max-width: 250px;
    border-top-right-radius: 9%;
    border-bottom-right-radius: 9%;
    opacity: 0.9;
}

.notebook-hover {
    box-shadow: 0 0 20px rgb(0, 0, 1);
}

.notebook h4 {
    position: absolute;
    top: 20%;
    left: 25%;
    color: black;
    border: 2px solid black;
    border-radius: 20%;
    background-color: white;
    padding: 10px 10px 25px 10px;
}

.project-title {
    font-weight: 800;
}

.project a:hover {
    text-decoration: none;
}












/* Contact section */

.contact {
    padding-top: 10px;
    height: 70px;
    background-color: #6b705c;
}

.sm-icons {
    height: 50px;
}

    .sm-icons li {
        display: inline;
        margin: 20px;
        font-size: 1.5em;
        color: black;
    }

a:hover {
    text-decoration: none;
    color: black;
}

.sm-icons img {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    padding: 2px 3px;
    border-radius: 3px;
    opacity: 1;
   
}

    .sm-icons img:hover {
        opacity: 1;
    }







/* This is a welcome extended part */

.welcome {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 9999em;
    text-align: center;
    margin: 0;
    font-family: "Lucida Handwriting";
    font-size: 2em;
}

.circle {
    position: relative;
    margin: 0 auto 50px;
    height: 144px;
    width: 144px;
    border-radius: 50%;
    background: #999 url(https://www.shutterstock.com/image-vector/lady-girl-silhouette-isolated-on-260nw-1934477237.jpg) 80% 0%;
    background-size: 160px 160px;
    box-shadow: 0 0 0 12.8px rgba(255,255,255,0.3);
}



    /* This is a position part of text aroung image */
    .circle:before, .circle:after {
        position: absolute;
        content: 'Computer';
        width: 6em;
        font-size: 1.7em;
        top: 2em;
        right: 5.5em;
    }

    .circle:after {
        content: 'Engineer';
        left: 7.3em;
    }

.name {
    padding: 50px;
    font-size: 3em;
    text-align: center;
    margin: -.1em 0 1em;
}

.major {
    display: none;
    font-weight: 400;
    font-size: 1.8em;
    text-align: center;
}
